@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/main.cs  s" />
    <link rel="stylesheet" href="~/css/global.css" />
</head>
<body>
   <section class="Profile">
   </section>

   <section class="Body">
   </section>

   <section class="Consultation">
   </section>
</body>