<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/navbar.css" />

</head>

<body>
    <nav class="navbar">
        <div class="logo">JP</div>
        <ul class="nav-links">
            <li><a asp-page="/Community" class="@(ViewContext.RouteData.Values["Page"].ToString() == "/Community" ? "active" : "")">Community</a></li>
            <li><a asp-page="/Jobs" class="@(ViewContext.RouteData.Values["Page"].ToString() == "/Jobs" ? "active" : "")">Jobs</a></li>
            <li><a asp-page="/Companies" class="@(ViewContext.RouteData.Values["Page"].ToString() == "/Companies" ? "active" : "")">Companies</a></li>
            <li><a asp-page="/Messages" class="@(ViewContext.RouteData.Values["Page"].ToString() == "/Messages" ? "active" : "")">Messages</a></li>
        </ul>
        <div class="nav-icons">
            <div class="border">
                <i class="fa-regular fa-bell"></i>
            </div>

            <div class="border">
                <a asp-page="/Profile">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
    </nav>
    <hr />
</body>
