
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/navbar.css" />

</head>

<body>
    <nav class="navbar">
        <div class="logo">Clone</div>
        <ul class="nav-links">
            <li><a asp-page="/Index" class="active">Community</a></li>
            <li><a asp-page="#">Jobs</a></li>
            <li><a asp-page="#">Companies</a></li>
            <li><a asp-page="#">Messages</a></li>
        </ul>
        <div class="nav-icons">
            <div class="border">
                <i class="fa-regular fa-bell"></i>
            </div>

            <div class="border">
                <i class="fa-regular fa-user"></i>
            </div>
        </div>
    </nav>
    <hr />
</body>

